xml/livepics.dtd

<!ELEMENT Livepics (livepic)*>

<!ELEMENT livepic (title+, date?, custom?, telegram-id?)>
<!ATTLIST livepic
  disabled CDATA "no"
  >

  <!ELEMENT title (#PCDATA)>
  <!ATTLIST title
    lang CDATA "en"
    >

  <!ELEMENT date (#PCDATA)>

  <!ELEMENT custom (article?, full?, preview?)>
    <!ELEMENT article (#PCDATA)>
    <!ELEMENT full    (#PCDATA)>
    <!ATTLIST full
      version CDATA #IMPLIED
      >
    <!ELEMENT preview (#PCDATA)>

  <!ELEMENT telegram-id (#PCDATA)>
